*.pyc
.pyvenv
.idea
.DS_Store
.vscode/
venv/
env/
env_*/
.env
dist/
misc
node_modules/
vendor
*~
*.log
artifacts/
local-config.mk
build/
pkg/
.pytest_cache
.coverage
.lambda_response
pkg/
cover.out
.mypy_cache
htmlcov
